%form.well.form-inline{:action => '/upload', :method => 'post', :enctype => 'multipart/form-data'}
  %input{:type => 'file', :name => 'xmlfile'}
  %br
  %input.btn.btn-primary{:type => 'submit', :value => 'Extraire les équipes'}
